.container {
  max-width: 1320px;
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 360px;
  flex-basis: 25%;
  flex: auto;
  min-width: 288px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}