@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    align-items: center;
    border: 10px solid  rgba(36,59,119,1);
    border-top: 10px  solid  rgba(10,102,194,1);
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    height: 200px;
    width: 200px;
    background-color: linear-gradient(38deg, rgba(36,59,119,1) 0%, rgba(10,102,194,1) 100%);
  }

  .loading-spinner-container {
    

  }

